background {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(
		-45deg,
		#c7c6bf,
		#d6d3b5,
		#c7bba8,
		#23a6d5,
		#c6e5f1,
		#276672,
		#1f2180,
		#030946
	);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
	width: 100%;
	top: 35%;
	position: absolute;
	text-align: center;
	align-items: center;
}
